<mat-toolbar>
    <span>
        <a routerLink="/">Oh My Blog</a>
    </span>
    <span>
        <span class="menu-buttons-container">
            <button class="menu-button" mat-button routerLink="/articles">Articles</button>
            <button class="menu-button" mat-button routerLink="/books">Books</button>
        </span>
        <!-- If user Singed In -->
        <span *ngIf="auth.user | async" class="menu-buttons-container">
            <button class="admin-button" mat-button routerLink="/admin">Admin</button>
        </span>
        <button class="authorization" mat-button *ngIf="auth.user | async" (click)="signOutClicked()">Sign Out</button>
        <!-- If user Singed Out -->
        <button class="authorization" mat-button *ngIf="!(auth.user | async)" (click)="signInClicked()">Sign In</button>
    </span>
</mat-toolbar>