.new-article-page-container {
    padding: 30px 100px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: gray;
        padding: 20px;
    
        mat-form-field, div {
            width: 90%;
        }
    
        p, button {
            color: honeydew;
        }
    
        button {
            font-size: 1.1rem;
            text-transform: uppercase;
        }
    
        textarea {
            color: honeydew;
    
            &#articleTitle {
                font-size: 2rem;
            }
        }
    }
}