<h1>Create new article</h1>
<hr>
<div>
    <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <textarea matInput name="title" [(ngModel)]="title" rows="1" id="articleTitle"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Content</mat-label>
            <textarea matInput name="content" [(ngModel)]="content" rows="8"></textarea>
        </mat-form-field>
        <div>
            <p class="mat-typography">Publication date: {{ publicationDate }}</p>
        </div>
        <button mat-raised-button type="submit">Create</button>
    </form>
</div>