<div class="home-page-wrapper">
    <div class="banner" role="banner">
        <div class="banner__content">
             <div class="block banner__block-1">
                 <div class="banner-inner-block">
                    <h2>ARTICLE'S HEADER</h2>
                 </div>
             </div>
             <div class="block banner__block-2"></div>
             <div class="block banner__block-3"></div>
             <div class="block banner__block-4"></div>
             <div class="block banner__block-5"></div>
        </div>
    </div>
    <hr>
    <div class="books-banner" role="banner">
        <div class="books-banner__content">
            <div class="books-block books-banner__block-1">
                <div class="inner-block"></div>
            </div>
            <div class="books-block books-banner__block-2">
                <div class="inner-block"></div>
            </div>
            <div class="books-block books-banner__block-3">
                <div class="inner-block"></div>
            </div>
        </div>
    </div>
    <div class="home-page-content">
        <h1>Welcome to MY BLOG!</h1>
        <p>
            99.99% of what’s produced and sold is a copy or variation of something that was already made and sold. That’s the power of industry to shape our world–it’s very good at producing more of what’s finding a market.
        </p>
        <p>
            And so we paved more roads, built more cars and pumped more oil. And we made more telemarketing calls, sent more spam and bought more ads. And we built more houses, produced more bandages and developed ever more convenient ways to shop.
        </p>
        <p>
            It doesn’t matter if it’s hard work. The system finds a way.
        </p>
        <p>
            It’s beyond dispute that industry is an efficient way to produce more. The question is: More of what?
        </p>
    </div>
</div>
