/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    p {
        line-height:27px;
        letter-spacing: 0.4px;
    }
}
